apiVersion: v1
kind: Service
metadata:
  name: {{ include "jetpath.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "jetpath.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
    {{- if .Values.metrics.enabled }}
    - port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "jetpath.selectorLabels" . | nindent 4 }}

